VITE_API_BASE_URL=https://api.rezzie.org
VITE_WEB_BASE_URL=https://rezzie.org
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_APP_ID=
VITE_CHROME_EXTENSION_IDS=
